@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="alert alert-warning text-center mt-4">
            <h4>Please log in or register to access this page.</h4>
            <a class="btn btn-success me-2" href="/Identity/Account/Login">Login</a>
            <a class="btn btn-primary" href="/Identity/Account/Register">Register</a>
        </div>
    }

</header>
